<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="about-header">
    <img src="assets/img/appicon.svg" alt="ionic logo">
  </div>
  <div padding class="about-info">
    <h4>My CfGuide</h4>

   
    <p>
    MyCf Guide is an ionic angular js app which aids user to keep track of their daily medicine intake and gives meal plan information
    </p>
  </div>
</ion-content>
