<!--
  Generated template for the ButterSoupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Butter Soup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <img src="./assets/img/recipie/lunch/ButterSoup.png">

</ion-content>
