<!--
  Generated template for the ToastPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title>French Toast</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <img src="./assets/img/recipie/breakfast/frenchToast.png">
</ion-content>
