<ion-header>
    <ion-navbar no-border-bottom>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Profile</ion-title>
    
    </ion-navbar>
  </ion-header>
  
  <ion-content>
  
      <ion-list>
          <ion-item>
            <ion-avatar>
                <img src="./assets/img/profile/profile.png">
            </ion-avatar>
            <h2>Asna Saeed</h2>
            <p>Ugh. As if.</p>
          </ion-item>
        </ion-list>
  
  </ion-content>