
<ion-header>

  <ion-navbar>
    <ion-title>Breakfast List</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="outer-content">
  <ion-list>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/breakfast/omlette.png">
        </ion-avatar>
        <h2>Inside Out Omlette</h2>
        <p>Servings: 1 <br> Calories:800  <br> CookTime: 15 Mins
        </p>
        <button ion-button color="secondary" (click)="goToOmlette()">View Recipe
          </button>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/breakfast/toast.jpg">
        </ion-avatar>
        <h2>Sunday French Toast</h2>
        <p>Servings: 2 <br> Calories:760  <br> CookTime: 15 Mins
        </p>
        <button ion-button color="secondary" (click)="goToToast()">View Recipe
        </button>
      </ion-item>
    </ion-item-sliding>


    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/breakfast/beanToast.jpg">
        </ion-avatar>
        <h2> Cheesy Baked Beans on Toast</h2>
        <p>Servings: 1 <br> Calories:893  <br> CookTime: 10 Mins
        </p>
        <button ion-button color="secondary" (click)="goToBeanToast()">View Recipe
        </button>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/breakfast/granola.jpg">
        </ion-avatar>
        <h2>Yummy Granola</h2>
        <p>Servings: 8 <br> Calories:749  <br> CookTime: 45 Mins
        </p>
          <button ion-button color="secondary" (click)="goToGranola()">View Recipe
          </button>
      </ion-item>
    </ion-item-sliding>

  

  </ion-list>

</ion-content>