<ion-header>
        <ion-navbar no-border-bottom>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>Meal Plans</ion-title>      
        </ion-navbar>     
      </ion-header>
      

            <ion-content class="outer-content">
                    <ion-list>
                      <ion-item-sliding>
                        <ion-item (click)=gotoBreakfast()>
                            <img src="assets/img/menu/breakfast.png">
                        </ion-item>
                      </ion-item-sliding>
                  
                      <ion-item-sliding>
                          <ion-item (click)=gotoLunch()>
                              <img src="assets/img/menu/lunch.png">
                          </ion-item>
                        </ion-item-sliding>
                  
                        <ion-item-sliding>
                            <ion-item (click)=gotoDinner()>
                                <img src="assets/img/menu/dinner.png">
                            </ion-item>
                          </ion-item-sliding>


                          <ion-item-sliding>
                            <ion-item (click)=gotoSnack()>
                                <img src="assets/img/menu/snack.png">
                            </ion-item>
                          </ion-item-sliding>

                          <ion-item-sliding>
                            <ion-item (click)=gotoDessert()>
                                <img src="assets/img/menu/dessert.png">
                            </ion-item>
                          </ion-item-sliding>

                          <ion-item-sliding>
                            <ion-item (click)=gotoSmoothie()>
                                <img src="assets/img/menu/smoothie.png">
                            </ion-item>
                          </ion-item-sliding>
     
                              </ion-list>
                            </ion-content>
                  
     