<ion-header>

  <ion-navbar>
    <ion-title>Dessert List</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="outer-content">
  <ion-list>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/dessert/cherryDanish.jpg">
        </ion-avatar>
        <h2>Cherry Cheese Danish</h2>
        <p>Servings: 15 <br> Calories:247  <br> CookTime: 60 Mins
        </p>
        <button ion-button color="secondary" (click)="goToDhanisPastry()">View Recipe
        </button>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/dessert/fudge.jpg">
        </ion-avatar>
        <h2>Fantasy Fudge</h2>
        <p>Servings: 48 <br> Calories:148  <br> CookTime: 25 Mins
        </p>
        <button ion-button color="secondary" (click)="goToFudge()">View Recipe
        </button>
      </ion-item>
    </ion-item-sliding>


    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/dessert/icecream.jpg">
        </ion-avatar>
        <h2>Ice Cream Bread</h2>
        <p>Servings: 6 <br> Calories:1296  <br> CookTime: 45 Mins
        </p>
        <button ion-button color="secondary" (click)="goToIceCreamBread()">View Recipe
        </button>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/dessert/oreo.jpg">
        </ion-avatar>
        <h2>Oreo Balls</h2>
        <p>Servings:36  <br> Calories:132  <br> CookTime: 30 Mins
        </p>
          <button ion-button color="secondary" (click)="goToOreoBalls()">View Recipe
          </button>
      </ion-item>
    </ion-item-sliding>

  

  </ion-list>

</ion-content>