<!--
  Generated template for the OreoBallPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Oreo Ball</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <img src="./assets/img/recipie/dessert/Oreo.png">
</ion-content>
