<ion-header>

  <ion-navbar>
    <ion-title>Smoothie List</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="outer-content">
  <ion-list>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/smoothie/tropical.jpg">
        </ion-avatar>
        <h2>Tropical Breakfast Smoothie</h2>
        <p>Servings: 1 <br> Calories:400  <br> PrepTime: 30 Mins
        </p>
        <button ion-button color="secondary" (click)="goToTropical()">View Recipe
        </button>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/smoothie/highCalorie.jpg">
        </ion-avatar>
        <h2>Delicious High Calorie Milk</h2>
        <p>Servings: 1 <br> Calories:430  <br> CookTime: 10 Mins
        </p>
        <button ion-button color="secondary" (click)="goToHighCalorie()">View Recipe
        </button>
      </ion-item>
    </ion-item-sliding>


    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/smoothie/HighProtein.jpg">
        </ion-avatar>
        <h2>High Protein Shake</h2>
        <p>Servings: 1 <br> Calories:578  <br> CookTime: 10 Mins
        </p>
        <button ion-button color="secondary" (click)="goToProtein()">View Recipe
        </button>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/smoothie/purple.jpg">
        </ion-avatar>
        <h2>Lily's Purple Smoothie</h2>
        <p>Servings: 1 <br> Calories:1303  <br> CookTime: 10 Mins
        </p>
          <button ion-button color="secondary" (click)="goToPurple()">View Recipe
          </button>
      </ion-item>
    </ion-item-sliding>

  

  </ion-list>

</ion-content>