<ion-header>

  <ion-navbar>
    <ion-title>Add new medication</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (submit)="medicineAdd()">
    <ion-list>
      <ion-item>
        <ion-label floating class="grey-label">Enter medicine name:</ion-label>
        <ion-input [(ngModel)]="mymedicine" name="medicine" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating class="grey-label">What Day?</ion-label>
        <ion-select [(ngModel)]="myday" name="day">
          <ion-option value="Sunday">Sunday</ion-option>
          <ion-option value="Monday">Monday</ion-option>
          <ion-option value="Tuesday">Tuesday</ion-option>
          <ion-option value="Wednesday">Wednesday</ion-option>
          <ion-option value="Thursday">Thursday</ion-option>
          <ion-option value="Friday">Friday</ion-option>
          <ion-option value="Saturday">Saturday</ion-option>
        </ion-select>
      </ion-item>

        <ion-item>
          <ion-label floating class="grey-label">Time to take?</ion-label>
          <ion-datetime [(ngModel)]="mytime" name="time" displayFormat="HH:mm"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-buttons>
            <button ion-button type="submit"block>Add</button>
          </ion-buttons>
        </ion-item>

    </ion-list>
  </form>
</ion-content>
