<!--
  Generated template for the SalminHerbPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Herbed Salmon</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <img src="./assets/img/recipie/lunch/SalmonHerb.png">
</ion-content>
