<ion-header>
  <ion-navbar>
    <ion-title *ngIf="session">{{session.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="session">
    <h1>{{session.name}}</h1>
    <h4 *ngFor="let meal of session?.meals">
    {{meal.name}}
  </h4>
    <p>
      {{session.timeStart}} - {{session.timeEnd}}
    </p>
    <p>{{session.location}}</p>
    <p>{{session.description}}</p>
  </div>
</ion-content>
