<ion-header>

  <ion-navbar>
    <ion-title>Dinner List</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="outer-content">
  <ion-list>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/dinner/casseroles.jpg">
        </ion-avatar>
        <h2>Sweet Potato Casserole</h2>
        <p>Servings: 4 <br> Calories:743  <br> CookTime: 35 Mins
        </p>
        <button ion-button color="secondary" (click)="goToCasserole()">View Recipe
        </button>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/dinner/curiedcasserole.jpg">
        </ion-avatar>
        <h2>Curried Chicken Casserole</h2>
        <p>Servings: 6 <br> Calories:367  <br> CookTime: 90 Mins
        </p>
        <button ion-button color="secondary" (click)="goToCurriedCasserole()">View Recipe
        </button>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/dinner/meat.jpg">
        </ion-avatar>
        <h2>Meat Cakes</h2>
        <p>Servings: 4 <br> Calories:359  <br> CookTime: 20 Mins
        </p>
        <button ion-button color="secondary" (click)="goToMeakCake()">View Recipe
        </button>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/dinner/turkeySupreme.jpg">
        </ion-avatar>
        <h2>Turkey Supreme</h2>
        <p>Servings:4  <br> Calories:280  <br> CookTime: 30 Mins
        </p>
          <button ion-button color="secondary" (click)="goToSupreme()">View Recipe
          </button>
      </ion-item>
    </ion-item-sliding>

  

  </ion-list>

</ion-content>