<ion-header>

  <ion-navbar>
    <ion-title>Lunch List</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="outer-content">
  <ion-list>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/lunch/asiansalad.jpg">
        </ion-avatar>
        <h2>Asian Salad</h2>
        <p>Servings: 10 <br> Calories:256  <br> PrepTime: 15 Mins
        </p>
        <button ion-button color="secondary" (click)="goToSalad()">View Recipe
        </button>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/lunch/buttersoup.jpg">
        </ion-avatar>
        <h2>Butter Soup</h2>
        <p>Servings: 4 <br> Calories:240  <br> CookTime: 25 Mins
        </p>
        <button ion-button color="secondary" (click)="goToSoup()">View Recipe
        </button>
      </ion-item>
    </ion-item-sliding>


    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/lunch/cheese.jpg">
        </ion-avatar>
        <h2> Cheese Lasagna</h2>
        <p>Servings: 16 <br> Calories:380  <br> CookTime: 60 Mins
        </p>
        <button ion-button color="secondary"(click)="goToCheeseLasagna()">View Recipe
        </button>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/lunch/salmon.jpg">
        </ion-avatar>
        <h2>Salmon on Herb Butter</h2>
        <p>Servings: 6 <br> Calories:709  <br> CookTime: 45 Mins
        </p>
          <button ion-button color="secondary" (click)="goToSalmon()">View Recipe
          </button>
      </ion-item>
    </ion-item-sliding>

  

  </ion-list>

</ion-content>