<ion-header>
  <ion-navbar>
    <ion-title>{{meal?.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="meal-detail">
  <div text-center *ngIf="meal">

  </div>

  <p>{{meal?.about}}</p>
  <p>{{meal?.Ingredients}}</p>
  <p>{{meal?.Directions1}}</p>
  <p>{{meal?.Directions2}}</p>
  <p>{{meal?.Directions3}}</p>
  <p>{{meal?.Directions4}}</p>
</ion-content>
