<ion-header>

  <ion-navbar>
    <ion-title>Snack List</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="outer-content">
  <ion-list>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/snack/caloriepudding.jpg">
        </ion-avatar>
        <h2>Extra Calorie Pudding Snack</h2>
        <p>Servings: 6 <br> Calories:243  <br> PrepTime: 10 Mins
        </p>
        <button ion-button color="secondary" (click)="goToPuddingSnack()">View Recipe
        </button>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/snack/cornpudding.jpg">
        </ion-avatar>
        <h2>Corn Pudding</h2>
        <p>Servings: 6 <br> Calories:143  <br> CookTime: 60 Mins
        </p>
        <button ion-button color="secondary" (click)="goToPudding()">View Recipe
        </button>
      </ion-item>
    </ion-item-sliding>


    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/snack/meatball.jpg">
        </ion-avatar>
        <h2>Cheese Ball</h2>
        <p>Servings: 25 <br> Calories:140  <br> CookTime: 20 Mins
        </p>
        <button ion-button color="secondary" (click)="goToMealBall()">View Recipe
        </button>
      </ion-item>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="./assets/img/meals/snack/popcorn.jpg">
        </ion-avatar>
        <h2>Butter Garlic Pop-Corn</h2>
        <p>Servings: 1 <br> Calories:518  <br> CookTime: 20 Mins
        </p>
          <button ion-button color="secondary" (click)="goToPopCorn()">View Recipe
          </button>
      </ion-item>
    </ion-item-sliding>

  

  </ion-list>

</ion-content>