<ion-header>

  <ion-navbar>
    <ion-title>Add New Appointment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (submit)="appointmentAdd()">
    <ion-list>
      <ion-item>
        <ion-label floating class="grey-label">Enter reason name:</ion-label>
        <ion-input [(ngModel)]="myreason" name="reason" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating class="grey-label">Enter medical center name:</ion-label>
        <ion-input [(ngModel)]="mycenter" name="center" type="text"></ion-input>
      </ion-item>



      <ion-item>
        <ion-label floating class="grey-label">Date to go?</ion-label>
         <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="mydate" name="appdate"></ion-datetime>
      </ion-item>


      <ion-item>
        <ion-label floating class="grey-label">Time to go?</ion-label>
        <ion-datetime [(ngModel)]="mytime" name="time" displayFormat="HH:mm"></ion-datetime>
      </ion-item>



        <ion-item>
          <ion-buttons>
            <button ion-button type="submit"block>Add</button>
          </ion-buttons>
        </ion-item>

    </ion-list>
  </form>
</ion-content>
