<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Appointment</ion-title>

    <!--add a button to open medicine add page-->
    <ion-buttons end>
      <button ion-button (click)="openAppointmentAdd()">
        <ion-icon name="medkit"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar> 

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let data of (list | async)" >
      <h2>{{data.reason}} - {{data.center}} on {{data.appdate}} @ {{data.time}} </h2>
      <p>Notification 15 min before</p>
      <button ion-button icon-only ion-button color="danger">
        <ion-icon name="ios-trash-outline"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>