<!--
  Generated template for the BeanToastPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title>Baked Beans On Toast</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <img src="./assets/img/recipie/breakfast/bakedbeans.png">

</ion-content>
